Repository mozilla/treeherder, changes with the owners that CODEOWNERS names for each.
All owners: @armenzg, @camd, @sarah-clements

Bug 1603249 - Use taskcluster API to fetch artifacts in UI (#6242)
  tests/conftest.py
  tests/etl/test_job_loader.py
  tests/etl/test_push_loader.py
  tests/services/pulse/test_consumers.py
  tests/ui/job-view/Filtering_test.jsx
  tests/ui/job-view/details/PinBoard_test.jsx
  tests/ui/mock/job_list/job_1.json
  tests/ui/mock/push_health.json
  tests/ui/mock/repositories.json
  tests/ui/models/jobs_test.js
  tests/ui/perfherder/replicates_graph_test.jsx
  tests/ui/push-health/Health_test.jsx
  tests/ui/push-health/Job_test.jsx
  tests/ui/push-health/UnsupportedJob_test.jsx
  ui/helpers/display.js
  ui/helpers/url.js
  ui/job-view/details/DetailsPanel.jsx
  ui/logviewer/App.jsx
  ui/models/jobDetail.js
  ui/models/perfSeries.js
  ui/perfherder/compare/CompareSubtestDistributionView.jsx
  ui/perfherder/compare/ReplicatesGraph.jsx
  ui/push-health/TestMetric.jsx
  ui/push-health/UnsupportedGroup.jsx
  ui/push-health/UnsupportedJob.jsx
Owners: @camd

minor changes
  tox.ini
Owners: none

Bug 1625998 - Filter failed builds/linting for parent push
  tests/ui/push-health/JobListMetric_test.jsx
  ui/push-health/Health.jsx
  ui/push-health/Job.jsx
  ui/push-health/JobListMetric.jsx
  ui/push-health/helpers.js
Owners: @camd

fix index
  docs/index.md
Owners: none

Revert "Run markdown checks in Travis and add it as a pre-commit hook (#6236)"
  .markdownlint.json
  .pre-commit-config.yaml
  .travis.yml
  README.md
  docs/accessing_data.md
  docs/common_tasks.md
  docs/index.md
  docs/infrastructure/administration.md
  docs/pulseload.md
  requirements/README.md
  requirements/dev.in
  requirements/dev.txt
  tests/README.md
  treeherder/extract/README.md
Owners: @armenzg

Review apps: Adjust ALLOWED_HOSTS
  treeherder/config/settings.py
Owners: none

Revert "Run markdown checks in Travis and add it as a pre-commit hook (#6236)" (#6269)
  .markdownlint.json
  .pre-commit-config.yaml
  .travis.yml
  README.md
  docs/accessing_data.md
  docs/common_tasks.md
  docs/index.md
  docs/infrastructure/administration.md
  docs/pulseload.md
  requirements/README.md
  requirements/dev.in
  requirements/dev.txt
  tests/README.md
  treeherder/extract/README.md
Owners: @armenzg

Bug 1613607 - Remove the Trigger All Talos Jobs menu option and backing code (#6237)
  ui/job-view/pushes/PushActionMenu.jsx
  ui/models/push.js
Owners: none

Bug 1625998 - Filter failed builds/linting for parent push (#6243)
  tests/ui/push-health/JobListMetric_test.jsx
  ui/push-health/Health.jsx
  ui/push-health/Job.jsx
  ui/push-health/JobListMetric.jsx
  ui/push-health/helpers.js
Owners: @camd

Bug 1627088 - Rename known intermittents to known issues
  tests/ui/mock/push_health.json
  tests/ui/push-health/Job_test.jsx
  tests/ui/push-health/TestFailure_test.jsx
  treeherder/push_health/classification.py
  treeherder/push_health/tests.py
  treeherder/push_health/usage.py
  ui/push-health/TestMetric.jsx
Owners: @camd

Added markdownlint support and fixed docs
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
  .travis.yml
  README.md
  docs/accessing_data.md
  docs/common_tasks.md
  docs/infrastructure/administration.md
  docs/pulseload.md
  requirements/README.md
  requirements/dev.in
  requirements/dev.txt
  tests/README.md
  treeherder/extract/README.md
Owners: @armenzg

fix docs
  docs/installation.md
Owners: none

add commad errors
  treeherder/etl/management/commands/ingest.py
Owners: @armenzg

fix docs
  docs/installation.md
Owners: none

fixed changes
  requirements/dev.in
  requirements/dev.txt
  setup.cfg
Owners: none

fixed indent
  tests/selenium/test_expand_job_group.py
  tests/selenium/test_info_panel.py
  tests/selenium/test_log_viewer.py
  tests/selenium/test_select_job.py
  tests/selenium/test_select_unclassified_job.py
Owners: none

added isort-config hook in pre-commit
  .pre-commit-config.yaml
  setup.cfg
Owners: @armenzg

fixed docs
  docs/installation.md
Owners: none

Kyles recommended changes
  ui/perfherder/alerts/AlertsView.jsx
Owners: none

Bug 1625454 - Signature unique constraint should include application field
  treeherder/perf/migrations/0030_add_application_to_contraints.py
  treeherder/perf/models.py
Owners: none

Bug 1625454 - Signature unique constraint should include application field
  treeherder/perf/migrations/0030_add_application_to_contraints.py
  treeherder/perf/models.py
Owners: none

Bug 1627088 - Rename known intermittents to known issues (#6267)
  tests/ui/mock/push_health.json
  tests/ui/push-health/Job_test.jsx
  tests/ui/push-health/TestFailure_test.jsx
  treeherder/push_health/classification.py
  treeherder/push_health/tests.py
  treeherder/push_health/usage.py
  ui/push-health/TestMetric.jsx
Owners: @camd

Removed codecov Updated env values
  tox.ini
Owners: none

Bug 1627271 - Order 'Similar Jobs' first by push id, then by task's start time. (#6266)
  treeherder/webapp/api/jobs.py
Owners: none

WIP: Add UI for CI changelog events to perfherder graphs
  ui/perfherder/constants.js
  ui/perfherder/graphs/GraphsContainer.jsx
  ui/perfherder/graphs/GraphsView.jsx
  ui/perfherder/graphs/GraphsViewControls.jsx
Owners: none

add celery and pulse in docker-compose
  docker-compose.yml
Owners: none

Bug 1615365 - Redirecting to correct url on changing the status or framework filter (#6180)
  ui/perfherder/alerts/AlertsView.jsx
Owners: none

Add seed-isort-config hook (#6182)
  .pre-commit-config.yaml
  requirements/dev.in
  requirements/dev.txt
  setup.cfg
  tests/selenium/test_expand_job_group.py
  tests/selenium/test_info_panel.py
  tests/selenium/test_log_viewer.py
  tests/selenium/test_select_job.py
  tests/selenium/test_select_unclassified_job.py
Owners: @armenzg

Add markdownlint pre-commit hook and fixed docs
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
  .travis.yml
  README.md
  docs/accessing_data.md
  docs/common_tasks.md
  docs/infrastructure/administration.md
  docs/pulseload.md
  requirements/README.md
  requirements/dev.in
  requirements/dev.txt
  tests/README.md
  treeherder/extract/README.md
Owners: @armenzg

fixed sequence
  tox.ini
Owners: none

Reduce list of Python requirements (#6141)
  requirements/common.in
  requirements/common.txt
  requirements/dev.in
  requirements/dev.txt
  setup.cfg
  tests/README.md
  treeherder/etl/jobs.py
Owners: none

upgrade mysql version, jx-mysql version
  app.json
  docker-compose.yml
  requirements/common.txt
  tests/extract/test_extract_job.sql
Owners: none

update performance api data test
  tests/webapp/api/test_performance_data_api.py
Owners: none

restored tests
  tests/webapp/api/test_performance_data_api.py
Owners: none

correct indentation
  treeherder/extract/extract_alerts.py
Owners: none

removed version locks and formatted test_extract_job.sql
  requirements/common.in
  tests/extract/test_extract_job.sql
  treeherder/extract/extract_alerts.py
Owners: none

update hashes
  requirements/common.txt
  requirements/dev.txt
Owners: none

Configuration for black
  .pre-commit-config.yaml
  docs/pyproject.toml
  requirements/dev.in
  requirements/dev.txt
Owners: @armenzg

removed isort from pre-commit
  .pre-commit-config.yaml
Owners: @armenzg

add files to be excluded and skip string normalization
  .travis.yml
  README.md
  pyproject.toml
Owners: @armenzg

CODEOWNERS:

# Visit https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax
# for learning about the syntax

# Dot files
.*                                      @armenzg
docker/*                                @armenzg
treeherder/etl/management/commands/*    @armenzg
ui/push-health/*                        @camd
ui/intermittent-failures/*              @sarah-clements
ui/intermittents-commenter/*            @sarah-clements
